.card {
	border: 1px solid $color-border-grey;
	box-shadow: 0 0 32px $color-shadow;
	border-radius: 5px;
	padding: 20px 30px 46px;
	max-width: 550px;
}

.card__middle {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 19px;
}

.card__bottom {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 30px;
	max-width: 230px;
}

.card__bottom {
	margin-top: 19px;
}

@include mq($max-width: 768px) {
	.card {
		border: none;
		box-shadow: none;
		padding: 0;
	}

	.card__middle {
		gap: 5px;
	}

	.card__bottom {
		gap: 5px;
		max-width: 147px;
	}
}
