$default-transition-duration: 0.4s;
$default-transition-function: ease-out;
$color-text-default: #000;
$color-border-grey: #cfcfcf;
$color-border-control-grey: #d5d5d5;
$color-control-bg: #36f;
$color-menu-bg: #36f;
$color-menu-bg-dark: #000;
$color-control-bg-grey: #d5d5d5;
$color-control-white: #fff;
$color-field-text: #555770;
$color-tooltip: #dbdbdb;
$color-field-bg: #ededf1;
$color-control-lable: #8c8c8c;
$color-shadow: rgba(0, 0, 0, 0.19);
