.wrapper {
	position: relative;
}

.container {
	max-width: 1580px;
	margin: auto;
	padding-right: 30px;
	padding-left: 30px;
	box-sizing: content-box;

	@include mq($max-width: 768px) {
		padding-right: 10px;
		padding-left: 10px;
	}
}
